<div>
  <table class="table table-hover">
 	<% @abusiness[tab_id].each do |business| %>
    <tr>
      <td><%= social_share_button_tag([business.name, business.description], :url => "http://bcatalogue.dev:3000") %></td>
      <td><%= raw(business.description) %></td>
      </tr>
      <% end %>
  </table>
</div>